<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent"  (click)="Animationunefois()">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="lancerAnimations()">Animer en boucle</button>
  <div class="square"  [@shake]="ng_shake" style="background-color: red;"></div>

  <div class="square"  [@bounce]="ng_bounce" style="background-color: green;"></div>

  <div class="square"  [@tada]="ng_tada" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="bounceMe()" >Faire tourner</button>
  <div [class.rotate-left]="css_rotateLeft" class="square" style="background-color:orange;"></div>
</div>
